:root{
    --blue: #373e98;
    --pink: #f16775;
    --yellow: #fee36e;
    --gray: #2a2a2a;
    --margin-beetwen: 100px;
}

@keyframes appearH{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
}

@keyframes appearB{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 1;;
    }
}

@keyframes appearM{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;;
    }
}

@keyframes appearS{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 1;;
    }
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none !important;
}

h1{
    color: white;
    text-align: center;
    font-size: 7.5ch;
    margin-bottom: 80px;
    animation: appearH 10s linear;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.books{
    margin-right: var(--margin-beetwen);
    width: 250px;
    height: 500px;
    background-color: var(--yellow);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://images.pexels.com/photos/5084674/pexels-photo-5084674.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: appearB 10s linear;
}

.colorBook{
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--yellow);
    border-radius: 25px 25px 25px 25px;
    opacity: 1;
    transition: all 2s;
}

.colorBook:hover{
    height: 400px;
    border-radius: 0px 0px 25px 25px;
    transition: all 1s;
}

.colorP{
    background:none;
    border: none;
    cursor: pointer;
    padding: 25px;
    color: white;
    font-size: 4ch;
    font-weight: 700;
}

.divHeader{
    color: white;
    text-align: center;
    font-size: 3.8ch;
}

.divLine{
    height: 5px;
    width: 250px;
    background-color: #2a2a2a;
}

.movies{
    margin-right: var(--margin-beetwen);
    width: 250px;
    height: 500px;
    background-color: var(--pink);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://images.pexels.com/photos/2873486/pexels-photo-2873486.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: appearM 10s linear;
}

.colorMovie{
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--pink);
    border-radius: 25px 25px 25px 25px;
    opacity: 1;
    transition: all 2s;
}

.colorMovie:hover{
    height: 400px;
    border-radius: 0px 0px 25px 25px;
    transition: all 1s;
}

.songs{
    width: 250px;
    height: 500px;
    background-color: var(--blue);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://images.pexels.com/photos/5965925/pexels-photo-5965925.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: appearS 10s linear;
}

.colorSong{
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--blue);
    border-radius: 25px 25px 25px 25px;
    opacity: 1;
    transition: all 2s;
}

.colorSong:hover{
    height: 400px;
    border-radius: 0px 0px 25px 25px;
    transition: all 1s;
}